.ButtonWithLoading {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background: transparent;
  color: #808080;
  cursor: pointer;
}

.ButtonWithLoading:hover {
  color: black;
  background: #ddd;
}
