// .page-donate {
//   width: 100%;
//   padding: 10px 0px 0px 30px;
//   color: white;
//   text-transform: uppercase;
//   font-size: 14px;
//   letter-spacing: 3px;
//   margin-bottom: 20px;
//   position: relative;
// }

.dash {
  font-family: 'Orbitron';
  font-size: 20px;
}

.donate-title-1 {
  font-family: 'Ubuntu';
  color: white !important;
}

.white-line {
  background-color: red;
  height: 3px;
  width: 95px;
  margin-top: -5px;
  margin-bottom: 10px;
}

.donate-title h2 {
  font-size: 30px;
  margin: 15px 0;
  padding-bottom: 10px;
}

.donate-title p {
  font-size: 14px;
}

// PROFILE
.bitcoin-card {
  background: rgba($color: #c2c2c2, $alpha: 0.5) !important;
}

.card {
  box-shadow: 3px 3px 5px rgba($color: #ffffff, $alpha: 0.5);
}

.donate {
  font-family: 'Ubuntu' !important;
  font-size: 25px;
  color: #0e0520;
}

.donate-text {
  font-family: 'Ubuntu' !important;
  font-size: 15px;
  color: #0e0520;
}

.modal {
  margin-top: 30%;
}

.donate-btn {
  padding: 5px 20px;
  width: 100%;
  color: #0e0520;
  text-transform: uppercase;
  font-weight: bold;
}

.btn {
  background: red !important;
}

.account-info {
  margin-top: 40px;
}

.stripe-input {
  width: 70%;
  padding: 5px;
  color: black;
}

.stripe-price {
  font-size: 20px;
  padding: 5px;
}
