@media (max-width: 360px) {
  .navbar-brand {
    font-size: 15px !important;
    float: left;
    letter-spacing: 4px;
  }
  .main-title {
    font-size: 30px;
  }

  .secondary-title {
    font-size: 11px;
  }
  .animation-text {
    font-size: 13px;
  }

  footer p {
    font-size: 13px;
  }
}

// @media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
// @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
// @media (min-width:1281px)

@media (min-width: 801px) {
  .navbar-brand {
    font-size: 30px !important;
    position: relative;
    left: 400px;
  }

  .page-welcome {
    font-size: 18px;
    position: relative;
    left: 400px;
  }

  .secondary-title {
    position: absolute;
    top: 32%;
    left: 420px;
    font-family: 'Exo';
    font-size: 18px;
    padding: 3px;
    color: black;
    background-color: white;
    overflow: hidden;
    letter-spacing: 1px;
  }
  .main-title {
    font-size: 48px;
    position: absolute;
    left: 420px;
    top: 40%;
    color: white;
    letter-spacing: 5px;
  }
  .animation-text {
    font-size: 20px;
    font-family: 'Exo';
  }
  .typing-animation {
    position: absolute;
    top: 50%;
    left: 420px;
    font-size: 18px;
  }
  .border-title {
    position: absolute;
    top: 48%;
    left: 420px;
    width: 135px;
    height: 3px;
    background-color: red;
  }

  .radial-menu {
    margin-right: 400px;
    top: -4px;
    right: -12px;
    position: fixed;
    display: block;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 50%;
    z-index: 20;
    // -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    // -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    // box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  }

  .mask {
    top: 20px;
    right: 10px;
    width: 45px;
    height: 45px;
    margin-right: 400px;
    background: darkSlateGray;
    border-radius: 50%;
    position: absolute;
    z-index: 21;
    color: white;
    text-align: center;
    line-height: 120px;
    cursor: pointer;
    position: fixed;
  }

  // FOOTER
  footer {
    position: absolute;
    bottom: 10px;
    left: 400px;
    width: 100%;
  }
  footer i {
    font-size: 35px;
    color: white;
  }
  footer p {
    margin-top: 3px;
    line-height: 2;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    right: 800px;
  }

  // LEAK
  .leaks {
    width: 100%;
  }

  .leak-search {
    position: relative;
  }
  .search-input {
    background: #170935 !important;
    font-family: 'Ubuntu';
    color: white;
    width: 50% !important;
    margin: 0 auto !important;
  }

  .search-input:focus {
    color: white !important;
  }

  .search-icon {
    position: absolute;
    top: 61px;
    right: 280px;
  }

  .search-input::placeholder {
    color: white !important;
  }

  .leak {
    margin: 30px 50px !important;
    width: 40%;
    float: left;
    min-height: 500px !important;
    box-shadow: 3px 3px 5px rgba(204, 204, 204, 0.8);
  }

  .leak .card-header {
    background: rgba(176, 171, 182, 0.5);
  }

  .leak .card-header img {
    background: white;
    padding: 0px;
  }

  .leak .card-body {
    text-align: left;
    color: black;
    background: rgba(176, 171, 182, 0.5);
  }

  .leak .card-body h2 {
    font-size: 20px;
    font-weight: bold;
  }

  .leak .card-body p {
    font-size: 13px;
    font-family: 'Ubuntu';
  }
}
